<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="classpaper">
    <select id="list" resultType="classpaper">
        SELECT *
        FROM db_examination.class_paper
        ORDER BY id
    </select>
    <select id="queryById" resultType="classpaper">
        SELECT *
        FROM db_examination.class_paper
        WHERE id = #{id}
    </select>
    <update id="modify">
        UPDATE db_examination.class_paper
        SET
            time = #{time}, 
            status = #{status}, 
            classId = #{classId}, 
            paperId = #{paperId}, 
            assistantId = #{assistantId}
        WHERE id = #{id}
    </update>
    <delete id="remove">
        DELETE FROM db_examination.class_paper
        WHERE id = #{id}
    </delete>
    <insert id="create" parameterType="classpaper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.class_paper (
            time, 
            status, 
            classId, 
            paperId, 
            assistantId
        )
        VALUES (
            #{time}, 
            #{status}, 
            #{classId}, 
            #{paperId}, 
            #{assistantId}
        );
    </insert>
</mapper>